$blue-color: #5474fd;
$text-div-bg: rgba(34, 32, 32, 0.5);
$text-div-tr-bg: rgba(34, 32, 32, 0);
$red-color: #ff6363;
$grey-color: rgb(34, 32, 32);
$bright-blue-color: #00a2ff;
$white-color: #fff;
$bg-welcome: url(../img/welcome-background.png);
$bg-choose: url(../img/choose-background.png);
$bg-house: url(../img/home-bg.png);
$bg-stones: url(../img/stones-bg.png);
$bg-tourists: url(../img/tourists-bg.png);