.contact {
    background-image: url("../img/map.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $white-color;
    width: 770px;
    height: 450px;
    margin-top: 30em;
    z-index: 1;

    &-input {
        background-color: $white-color;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: $grey-color 1px solid;
        margin: 2em;
    }

    &-info__text {
        font-family: "GothamBook";
        font-size: 14px;
        margin: 2em;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        margin-top: -3em;
    }
}

.form-icon {
    color: $violet-color;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 850px){
    .form {
        width: 500px;
        height: 450px;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 350px;
        height: 400px;
        &-info__text {
            font-size: 12px;
        }
    }

    .form-button {
        padding: 0.5em 0;
        width: 150px;
        margin-left: 1.5em;
    }
}